In [1]:
#import gmaps
#%matplotlib notebook
# Google developer API key
#from config import gkey
import matplotlib.pyplot as plt
import pandas as pd
import gmaps

In [2]:
#setting the google key configuration
gkey = ""
# Access maps with unique API key
gmaps.configure(api_key=gkey)

In [3]:
#reading the output file from clean_parse module
ca_city_df = pd.read_csv("../output/ca_city_gmap_input.csv")
ca_city_df.head()

,Unnamed: 0,State,County,City,Median Sale Price,Date,Month,Year,lat,lng
0,50,California,"Santa Clara, CA",Santa Clara,465000.0,2/1/2012,2,2012,37.354108,-121.955236
1,64,California,"Santa Clara, CA",Santa Clara,690000.0,10/1/2013,10,2013,37.354108,-121.955236
2,80,California,"Oakland, CA",Oakland,610000.0,5/1/2015,5,2015,37.804364,-122.271114
3,109,California,"Santa Clara, CA",Santa Clara,541000.0,3/1/2012,3,2012,37.354108,-121.955236
4,193,California,"Oakland, CA",Oakland,499000.0,6/1/2014,6,2014,37.804364,-122.271114

In [14]:
#taking one month consistant value of the year for parsing/calculations
ca_df = ca_city_df[ca_city_df["Month"] == 1].reset_index(drop = True)
ca_df.head()
#ca_df.reset_index(drop = True)

,Unnamed: 0,State,County,City,Median Sale Price,Date,Month,Year,lat,lng
0,1483,California,"Santa Clara, CA",Santa Clara,615000.0,1/1/2013,1,2013,37.354108,-121.955236
1,1672,California,"Oakland, CA",Oakland,425000.0,1/1/2015,1,2015,37.804364,-122.271114
2,2204,California,"Oakland, CA",Oakland,344000.0,1/1/2013,1,2013,37.804364,-122.271114
3,2317,California,"Oakland, CA",Oakland,365000.0,1/1/2014,1,2014,37.804364,-122.271114
4,2435,California,"Santa Clara, CA",Santa Clara,804000.0,1/1/2015,1,2015,37.354108,-121.955236

In [17]:
#creating a new column combining city with median sale pricec
for i in range(len(ca_df)):
    ca_df["City Price"][i] = ca_df["City"][i] + ", $" + str(ca_df["Median Sale Price"][i])

ca_df.head()

C:\Users\bbcho\AppData\Local\conda\conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,Unnamed: 0,State,County,City,Median Sale Price,Date,Month,Year,lat,lng,City Price
0,1483,California,"Santa Clara, CA",Santa Clara,615000.0,1/1/2013,1,2013,37.354108,-121.955236,"Santa Clara, $615000.0"
1,1672,California,"Oakland, CA",Oakland,425000.0,1/1/2015,1,2015,37.804364,-122.271114,"Oakland, $425000.0"
2,2204,California,"Oakland, CA",Oakland,344000.0,1/1/2013,1,2013,37.804364,-122.271114,"Oakland, $344000.0"
3,2317,California,"Oakland, CA",Oakland,365000.0,1/1/2014,1,2014,37.804364,-122.271114,"Oakland, $365000.0"
4,2435,California,"Santa Clara, CA",Santa Clara,804000.0,1/1/2015,1,2015,37.354108,-121.955236,"Santa Clara, $804000.0"

In [20]:
city_location = ca_df[["lat","lng"]]
# Customize the size of the figure
figure_layout = {
    'width': '600px',
    'height': '500px',
    'scale': 1,
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto',
    'zoom_level': 5
}
fig = gmaps.figure(layout=figure_layout)

list_of_contents = ca_df["City Price"]

# Assign the marker layer to a variable
markers = gmaps.marker_layer(city_location, info_box_content=list_of_contents)
# Add the layer to the map
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(border='1px solid black', height='500px', margin='0 auto 0 auto', padding='1px', wi…