In [1]:
#import gmaps
#%matplotlib notebook
# Google developer API key
#from config import gkey
import matplotlib.pyplot as plt
import pandas as pd
import gmaps

In [2]:
#setting the google key configuration
gkey = ""
# Access maps with unique API key
gmaps.configure(api_key=gkey)

In [3]:
ca_county_df = pd.read_csv("../output/ca_county_gmap_input.csv")
ca_df = ca_county_df[ca_county_df["Month"] == 1].reset_index(drop = True)
ca_df.head()

,Unnamed: 0,State,County,City,Median Sale Price,Date,Month,Year,lat,lng
0,1483,California,"Santa Clara, CA",Santa Clara,615000.0,1/1/2013,1,2013,37.354108,-121.955236
1,2435,California,"Santa Clara, CA",Santa Clara,804000.0,1/1/2015,1,2015,37.354108,-121.955236
2,2642,California,"Alameda, CA",Alameda,792000.0,1/1/2017,1,2017,37.765206,-122.241636
3,3418,California,"Santa Clara, CA",Santa Clara,723000.0,1/1/2014,1,2014,37.354108,-121.955236
4,3773,California,"Santa Clara, CA",Santa Clara,923000.0,1/1/2017,1,2017,37.354108,-121.955236

In [6]:
for i in range(len(ca_df)):
    ca_df["County Price"][i] = ca_df["County"][i] + ", $" + str(ca_df["Median Sale Price"][i])

ca_df.head()

C:\Users\bbcho\AppData\Local\conda\conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Unnamed: 0,State,County,City,Median Sale Price,Date,Month,Year,lat,lng,County Price
0,1483,California,"Santa Clara, CA",Santa Clara,615000.0,1/1/2013,1,2013,37.354108,-121.955236,"Santa Clara, CA, $615000.0"
1,2435,California,"Santa Clara, CA",Santa Clara,804000.0,1/1/2015,1,2015,37.354108,-121.955236,"Santa Clara, CA, $804000.0"
2,2642,California,"Alameda, CA",Alameda,792000.0,1/1/2017,1,2017,37.765206,-122.241636,"Alameda, CA, $792000.0"
3,3418,California,"Santa Clara, CA",Santa Clara,723000.0,1/1/2014,1,2014,37.354108,-121.955236,"Santa Clara, CA, $723000.0"
4,3773,California,"Santa Clara, CA",Santa Clara,923000.0,1/1/2017,1,2017,37.354108,-121.955236,"Santa Clara, CA, $923000.0"

In [7]:
county_location = ca_df[["lat","lng"]]

# Customize the size of the figure
figure_layout = {
    'width': '800px',
    'height': '600px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto',
    'zoom_level': 5
}
fig = gmaps.figure(layout=figure_layout)

list_of_contents = ca_df["County Price"]

# Assign the marker layer to a variable
markers = gmaps.marker_layer(county_location, info_box_content=list_of_contents)
# Add the layer to the map
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wiâ€¦